.place__title {
  grid-area: title;
  align-self: end;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0;
}



@media (max-width: 925px) {
  .place__title {
  font-size: 58px;
  line-height: 62px;
  }
}

@media (max-width: 768px) {
  .place__title {
  font-size: 42px;
  line-height: 46px;
  }
}

@media (max-width: 540px) {
  .place__title {
  font-size: 32px;
  line-height: 35px;
  }
}