.page {
  font-family: 'Inter', 'Arial', sans-serif;
  color: #FFFFFF;
  width: 100%;
  max-width: 1280px;
  /*min-width: 1280px; */
  /* мы ещё не умеем делать мобильную версию сайта, */
  margin: 0 auto;
  font-family: 'Inter', Arial, sans-serif;
  padding: 28px 48px 24px;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .page {
    padding: 28px 24px 24px;
  }
}

@media screen and (max-width: 540px) {
  .page {
    padding: 16px 16px 24px;
  }
}
