.photo-grid {
  margin-top: 92px;
  display: grid;
  width: 100%;
  gap: 16px;
  justify-content: center;
  /* grid-template-columns: repeat(auto-fit, minmax(240px, max-content)); */

  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 1024px) {
  .photo-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 14px;
  }
}

@media (max-width: 768px) {
  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    margin-top: 88px;
  }
}

@media (max-width: 650px) {
  .photo-grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, 1fr);
    row-gap: 12px;
    margin: 64px 0;
  }
}