.lead__title {
  margin: 0 auto 32px;
  width: 720px;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
}

@media (max-width: 820px) {
  .lead__title {
    width: 100%;
  }
}

@media (max-width: 720px) {
  .lead__title {
    font-size: 85px;
    line-height: 110%;
  }
}

@media (max-width: 640px) {
  .lead__title {
    font-size: 70px;
    line-height: 110%;
  }
}

@media (max-width: 540px) {
  .lead__title {
    font-size: 65px;
    line-height: 110%;
  }
}

@media (max-width: 490px) {
  .lead__title {
    font-size: 56px;
    line-height: 110%;
  }
}

@media (max-width: 425px) {
  .lead__title {
    font-size: 51px;
    line-height: 110%;
  }
}

@media (max-width: 370px) {
  .lead__title {
    margin-bottom: 16px;
    font-size: 40px;
    line-height: 44px;
  }
}