.intro__text {
  width: 690px;
  min-height: 209px;
  margin: 40px 0 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 163%;
}

@media (max-width: 768px) {
  .intro__text {
    width: 100%;
  }
}