.lead__subtitle {
  width: 640px;
  margin: 0 auto 64px;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
}

@media screen and (max-width: 1024px) {
  .lead__subtitle {
    margin-bottom: 56px;
  }
}

@media screen and (max-width: 768px) {
  .lead__subtitle {
    width: 100%;
  }
}

@media screen and (max-width: 720px) {
  .lead__subtitle {
    font-size: 22px;
  }
}

@media (max-width: 540px) {
  .lead__subtitle {
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 20px;
  }
}