.cover {
  position: relative;
  margin: 92px auto 0;
  width: 100%;
}

@media (max-width: 1024px) {
  .cover {
    min-height: 640px;
  }
}

@media (max-width: 768px) {
  .cover {
    min-height: 480px;
    margin-top: 88px;
  }
}

@media (max-width: 540px) {
  .cover {
    margin-top: 64px;
    min-height: 200px;
  }
}
