*{
  outline-width: 1px;
  outline-style: solid;
  outline-color: red;
} 

@font-face {
  font-family: "Inter";
  src: url("/vendor/font-inter/Inter-Regular.woff") format("woff"),
  url("/vendor/font-inter/Inter-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

.page {
  font-family: "Inter";
  background-color: #2A2C2F;
  color: #FFFFFF;
  width: 100%;
  max-width: 1280px;
  /*min-width: 1280px; */
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Inter', Arial, sans-serif;
  padding: 28px 48px 24px;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .page {
    padding: 28px 24px 24px;
  }
}

@media screen and (max-width: 320px) {
  .page {
    padding: 16px 16px 24px;
  }
}

.header {
  min-height: 52px;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  width: 176px;
  height: 52px;
}

@media screen and (max-width: 320px) {
  .header__logo {
    width: 142px;
    height: 42px;
    object-fit: contain;
  }
}

.header__lang-links {
  padding: 18px 0 6px;
}

@media screen and (max-width: 320px) {
  .header__lang-links {
    padding: 14px 0 8px;
  }
}

.header__lang-link {
  width: 30px;
  height: 28px;
  font-style: normal;
  font-size: 24px;
  line-height: 96.4%;
  color: #FFFFFF;
  padding: 0;
}

@media screen and (max-width: 320px) {
  .header__lang-link {
    width: 22px;
    height: 20px;
  }
}

.header__lang-link_passive {
  width: 29px;
  text-decoration: none;
  margin-left: 18px;
}

.content {
  width: 83%;
  margin: 0 auto 0;
}

@media screen and (max-width: 1024px) {
  .content {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .content {
    width: 100%;
  }
}

@media (max-width: 320px) {
  .content {
    width: 100%;
  }
}

.lead {
  margin: 56px auto 114px;
}

.lead__title {
  margin: 0 auto 32px;
  width: 720px;
  min-height: 200px;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
}

.lead__subtitle {
  width: 640px;
  min-height: 72px;
  margin: 0 auto 64px;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
}

.lead__image {
  width: 100%;
}

.lead__caption {
  min-width: 159px;
  height: 14px;
  margin-top: 8px;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}


@media screen and (max-width: 1024px) {
  .lead {
    margin-top: 48px;
    
  }

  .lead__subtitle {
    margin-bottom: 56px;
  }

}

@media screen and (max-width: 768px) {
  .lead {
    margin-bottom: 88px;
  }

  .lead__image {
    position: relative;
    left: -24px;
    width: calc(100% + (24px * 2));
  }

  .lead__title {
    width: 100%;
  }
}

@media (max-width: 320px) {
  .lead {
    margin-top: 48px;
    margin-bottom: 64px;
  }

  .lead__title {
    margin-bottom: 16px;
    width: 100%;
    min-height: 88px;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
  }

  .lead__subtitle {
    margin-bottom: 40px;
    width: 100%;
    min-height: 40px;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;

  }
}

.intro {
  width: 690px;
  min-height: 429px;
}

.intro__title {
  width: 690px;
  min-height: 58px;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
}

.intro__text {
  width: 690px;
  min-height: 209px;
  margin: 40px 0 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 163%;
}

.intro__list {
  width: 690px;
  height: 90px;
  margin: 32px 0 0;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  list-style-type: none;
  padding: 0;
}

@media (max-width: 768px) {
  .intro {
    width: 100%; 
  }
  
  .intro__title {
    width: 100%;
  }

  .intro__text {
    width: 100%;
  }

  .intro__list {
    width: 100%;
  }
}

@media (max-width: 320px) {
  .intro__title {
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
  }
}

.photo-grid {
  margin-top: 92px;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, minmax(1fr, 284px);
  grid-template-rows: repeat(3, minmax(1fr, 213px);
  gap: 16px;
  justify-content: center;
}

.photo-grid__item {
  /*width: 284px;
  height: 213px;*/
  object-fit: cover;
}

.places {
  max-width: 83%;
  margin: 12px auto 0;
}

.place {
  max-width: 100%;
  display: grid;
  margin-top: 80px;
  justify-content: center;
  justify-items: stretch;
  grid-template-columns: 460px 456px;
  grid-template-rows: auto 460px;
  gap: 40px 48px;
  grid-template-areas: 
  "title website"
  "image text";
}

.place__title {
  grid-area: title;
  align-self: end;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0;
}

.place__image {
  grid-area: image;
  align-self: stretch;
}

.place__website {
  grid-area: website;
  align-self: end;
}

.place__website_url-heading {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
  color: #AAAAAA;
}

.place__text {
  grid-area: text;
  align-self: start;
}

.place__website_link {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}

.place__paragraph {
  margin: 0 0 24px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 29px;
}

.cover {
  
}

.cover__background {
  width: 100%;
  object-fit: cover;
}


.footer {
  display: flex;
  justify-content: space-between;
  min-height: 18px;
  margin: 92px auto 0;
}

.footer__links {
  list-style-type: none;
  padding: 0;
  display: flex;
}

.footer__link {
  color: #FFFFFF;
  text-decoration: none;
  margin: 0 18px 0 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
}

.footer__copyright {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}