.footer {
  display: flex;
  justify-content: space-between;
  margin: 92px auto 0;
}

@media (max-width: 768px) {
  .footer {
    margin-top: 88px;
  }
}

@media (max-width: 670px) {
  .footer {
    display: inline-block;
    margin-top: 64px;
  }
}


@media (max-width: 540px) {
  .footer {
    display: inline-block;
    margin-top: 64px;
  }
}
